.blog-intro{
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(to right, rgba(30,22,250), rgba(49,44,0,185));
}

#particles-js {
    position: absolute;
    left: 0px;
    top: 45px;
    color: #ffffff;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.jumbotron{
    border-radius: 0px !important;
}