#main-navbar {
    z-index: 888;
    width: 100%;
    background-image: linear-gradient(260deg, #ff8c00 0%, #1e90ff 100%);
    color: white;
    box-shadow: 2px 2px 5px #000000;
  }
  
  #main-navbar > ul > li {
    list-style-type: none;
    color: white;
    font-size: 1em;
    justify-content: flex-end;
    /*padding: 0em 2em;*/
  }
  
  #navbar {
    text-align: center;
    width: 100%;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  #navTog {
    position: fixed;
    bottom: 3em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    border-radius: 50%;
    z-index: 1000;
    text-align: center;
    color: white;
    box-shadow: 2px -2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px -2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px -2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 2px -2px rgba(0, 0, 0, 0.6);
    /*border-radius:100px;*/
  }
  #navTog p {
    margin-top: 10px;
  }
  #seLogo {
    font-family: "Merienda One", cursive;
    display: inline-block;
    text-decoration: none;
    color: white;
    top: 1em;
    font-size: 2em;
    /* padding-left: 2em; */
  }
  #navbar{
      padding: 0px;
  }
  /* .active {
      display: block;
      position: fixed;
      bottom: 0px;
      border-radius: 50%;
      text-align: CENTER;
      height: 100%;
      width: 100%;
      height: 75%;
      font-size: 18px;
      line-height: 6em;
    background-image: linear-gradient(260deg, #ff8c00 0%, #1e90ff 100%);
   
  } */
  
  @keyframes example {
      from {background-color: red;}
      to {background-color: yellow;}
    }
  
  #navClose {
    position: absolute;
    right: 2em;
    top: 2em;
  }
  
  #main-navbar a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding-top: 7px;
  }
  #navbar > ul {
      list-style-position: inside;
    }
  
    #main-navbar {
      position: fixed;
      bottom: 0;
      max-height: 40px;
    }
  
    #navClose {
      display: none;
    }
  
    #navbar {
      top: 25%;
      display: flex;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      flex-direction: row;
    }
  
    #navbar {
      display: flex;
      flex: auto;
      padding-top: 10px;
    }
  
    .main-nav li {
      margin: 0;
      flex: 1;
    }
  
    #main-navbar > p {
      margin-top: 0;
      padding-left: 5px;
    }
  
    #seLogo {
      padding-left: 2em;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: white;
    }

    .fas{
      color: #007BFF;
      position: fixed;
      bottom: 50px;
      font-size: 3em;
      display: block;
      margin:auto;
      left:45%;
  }

  /*Desktop NavBar*/
  @media screen and (min-width: 768px) {
  
    #navTog {
      display: none;
    }
    #main-navbar {
      position: fixed;
      top: 0;
      max-height: 40px;
      /*height: 100%;*/
      /*width: 100%;*/
    }
  

    .fas{
      color: #007BFF;
      position: fixed;
      bottom: 10px;
      font-size: 3em;
      display: block;
      margin:auto;
      left:45%;
  }
}